# OneSignal Configuration
NEXT_PUBLIC_ONESIGNAL_APP_ID=f5f9b5af-1dd4-4ce5-8ece-c75ded322dad
ONESIGNAL_REST_API_KEY=4d7m675hnu7su756lxsnytfxc

# Base URL for API calls
NEXT_PUBLIC_BASE_URL=https://sandytaxi.com

